<p><strong>ALABAMA NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF ALABAMA</p>
<p>_______________, COUNTY</p>
<p>I, __________________________________, a Notary Public, hereby certify that __________________________________, whose name is signed to the foregoing instrument or conveyance, and who is known to me, acknowledged before me on this day that, being informed of the contents of the conveyance, he/she/they executed the same voluntarily on the day the same bears date.</p>
<p>Given under my hand this ___ day of _________________, A. D. 20____.</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public</p>
<p>Print __________________________</p>
<p>My commission expires: __________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
