<p><strong>ALASKA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Alaska</p>
<p>Judicial District (or County of _____________ or Municipality of _____________)</p>
<p>On this ____ day of _________________ in the year 20___, before me, the undersigned notary public, personally appeared: _________________________ known to me to be the person(s) whose name(s) is/are subscribed to the within instrument and acknowledged that he/she/they executed the same for the purposes therein contained.</p>
<p><a href="https://esign.com/">______________________________</a></p>
<p>Signature of Person Taking Acknowledgment</p>
<p>Title or Rank __________________</p>
<p>Serial Number (if any) __________________</p>
<p>My Commission Expires: ___________________</p>
