<p align="center"><strong>ALASKA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Alaska</p>
<p>Judicial District (or County of _____________ or Municipality of _____________)</p>
<p>On this ____ day of _________________ in the year 20___, before me, the undersigned notary public, personally appeared: _________________________ known to me to be the person(s) whose name(s) is/are subscribed to the within instrument and acknowledged that he/she/they executed the same for the purposes therein contained.</p>
<p align="right"><a href="https://esign.com/">______________________________</a></p>
<p align="right">Signature of Person Taking Acknowledgment</p>
<p align="right">Title or Rank __________________</p>
<p align="right">Serial Number (if any) __________________</p>
<p align="right">My Commission Expires: ___________________</p>
