<p><strong>ARKANSAS NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Arkansas</p>
<p>County of _____________</p>
<p>On this the _____ day of _________ 20__, before me, ________________, the undersigned officer, personally appeared ________________, known to me (or satisfactorily proven) to be the person whose name ______________ subscribed to the within instrument and acknowledged that ______________ he ______________ executed the same for the purpose therein.</p>
<p>In witness whereof I hereunto set my hand and official seal.</p>
<p>(Seal)</p>
<p><a href="https://esign.com/">______________________________</a></p>
<p>(Signature of notarial officer)</p>
<p>Title __________________</p>
