<p><strong>CONNECTICUT NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Connecticut</p>
<p>County of _____________ ss.___________ (Town/City)</p>
<p>On this the ___ day of ________, 20___, before me, _______________ (name of notary), the undersigned officer, personally appeared _______________ (name of individual or individuals), known to me (or satisfactorily proven) to be the person(s) whose name(s) ______ (is or are) subscribed to the within instrument and acknowledged that _____ (he, she or they) executed the same for the purposes therein contained.</p>
<p>In witness whereof I hereunto set my hand.</p>
<p><a href="https://esign.com/">______________________</a></p>
<p>(Signature of Notary Public)</p>
<p>Date Commission Expires: __________________</p>
<p>______________________</p>
<p>(Printed Name of Notary)</p>
