<p align="center"><strong>FLORIDA NOTARY ACKNOWLEDGMENT</strong></p>
<p>STATE OF FLORIDA</p>
<p>COUNTY OF _____________</p>
<p>The foregoing instrument was acknowledged before me by means of ☐ physical presence or ☐ online notarization, this _____ (numeric date) day of __________ (month), ______ (year), by ________________ (name of person acknowledging).</p>
<p>(Seal)</p>
<p align="right"><a href="https://esign.com/">________________________</a></p>
<p align="right">Signature of Notary Public</p>
<p>Print, Type/Stamp Name of Notary</p>
<p>Personally known: _____________________</p>
<p>OR Produced Identification: ______________</p>
<p>Type of Identification Produced: ___________</p>
