<p align="center"><strong>GEORGIA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Georgia</p>
<p>County of _____________</p>
<p>This instrument was acknowledged before me this _____ day of __________ (month), ______ (year), by __________________ (name of signer).</p>
<p>______ Personally Known</p>
<p>______ Produced Identification</p>
<p>Type and # of ID ___________________</p>
<p>(Seal)</p>
<p align="right"><a href="https://esign.com/">________________________</a></p>
<p align="right">(Signature Notary)</p>
<p align="right">________________________</p>
<p align="right">(Name of Notary Typed, Stamped or Printed)</p>
<p>Notary Public, State of Georgia</p>
