<p><strong>HAWAII NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Hawaii</p>
<p>County of __________________</p>
<p>On this ____ day of __________________, 20____, before me personally appeared __________________, to me known to be the person described in and who executed the foregoing instrument known as a __________________ (Name of Document) consisting of ____ pages and acknowledged that he/she/they executed the same as his free act and deed.</p>
<p><a href="https://esign.com/">________________________</a></p>
<p>Signature of Notary Public</p>
<p>Print Name: ______________</p>
<p>My Commission expires: ________________________</p>
<p>(Seal)</p>
