<p align="center"><strong>ILLINOIS NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Illinois</p>
<p>County of ___________</p>
<p>This instrument was acknowledged before me on ________________ (date) by ____________________ (name of person acknowledged).</p>
<p>(Seal)</p>
<p align="right"><a href="https://esign.com/">________________________</a></p>
<p align="right">(Signature of person taking acknowledgment)</p>
<p align="right">_________________</p>
<p align="right">(Title or rank)</p>
<p align="right">_________________</p>
<p align="right">(Serial number, if any)</p>
