<p align="center"><strong>INDIANA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Indiana</p>
<p>County of ___________</p>
<p>I, a Notary Public, hereby certify that ________________________________ whose name is signed to the foregoing instrument or conveyance, and who is known to me, acknowledged before me on this day that, being informed of the contents of the conveyance, he/she/they executed the same voluntarily on the day the same bears date.</p>
<p>Given under my hand this the ______ day of __________, 20___.</p>
<p>(Seal, if any)</p>
<p align="right"><a href="https://esign.com/">___________________________</a></p>
<p align="right">(Signature of notarial officer)</p>
<p align="right">Title (and Rank):_________________</p>
<p align="right">My commission expires:_________________</p>
