<p align="center"><strong>KANSAS NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Kansas</p>
<p>County of ___________</p>
<p>This instrument was acknowledged before me on ________________ (date) by ______________________ (name(s) of person(s)).</p>
<p>(Seal)</p>
<p align="right"><a href="https://esign.com/">___________________________</a></p>
<p align="right">(Signature of notarial officer)</p>
<p align="right">Title (and Rank):_________________</p>
<p align="right">My appointment expires:_________________</p>
