<p align="center"><strong>KENTUCKY NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Kentucky</p>
<p>County of ___________</p>
<p>The foregoing instrument was acknowledged before me this ______ day of _______ (year), by ______________________ (name of person acknowledged).</p>
<p align="right"><a href="https://esign.com/">___________________________</a></p>
<p align="right">(Signature of person taking acknowledgment)</p>
<p align="right">(Title or Rank):_________________</p>
<p>(Serial number, if any):_________________</p>
