<p align="center"><strong>LOUISIANA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Louisiana</p>
<p>Parish of ___________</p>
<p>On this ________ day of __________, 20___, before me personally appeared _______________, to me known to be the person (or persons) described in and who executed the foregoing instrument, and acknowledged that he (or they) executed it as his (or their) free act and deed.</p>
<p align="right"><a href="https://esign.com/">___________________________</a></p>
<p align="right">(Signature of notarial officer)</p>
<p align="right">Title (and Rank):_________________</p>
<p align="right">Notary ID Number:_____________, or</p>
<p>Attorney Bar Roll Number:__________</p>
