<p><strong>MAINE NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF MAINE</p>
<p>COUNTY OF _______________</p>
<p>The foregoing instrument was acknowledged to me this ___ day of _________________, A.D. 20____, at ________________, Maine, by __________________________________ (name of person acknowledged) to be his/her free act and deed.</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print __________________________</p>
<p>My commission expires: __________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
