<p align="center"><strong>MASSACHUSETTS NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE COMMONWEALTH OF MASSACHUSETTS</p>
<p>COUNTY OF _______________</p>
<p>On this _____ of _________, 20___, before me, ___________________ (name of notary public), ____________________ (name of document signer) personally appeared and proved to me through satisfactory evidence of identification, which were ___________________, to be the person whose name is signed on the preceding or attached document, and acknowledged to me that he/she signed it voluntarily for its stated purpose.</p>
<p>(as partner for __________, a partnership)</p>
<p>(as ___________ for __________, a corporation)</p>
<p>(as attorney in fact for _____________, the principal)</p>
<p>(as __________ for ____________, (a) (the)___________)</p>
<p align="right"><a href="https://esign.com/">____________________</a></p>
<p align="right">Notary Public Signature</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
