<p><strong>MICHIGAN NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF MICHIGAN</p>
<p>COUNTY OF _______________</p>
<p>Acknowledged before me in _____________ County, Michigan, on ___________ (the date), by ______________________ (name of signatory).</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print ______________________</p>
<p>Title _______________________</p>
<p>My commission expires: _______________</p>
<p>Acting in the County of ________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
