<p><strong>MINNESOTA NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF MINNESOTA</p>
<p>COUNTY OF _______________</p>
<p>This instrument was acknowledged before me on ________________ (date)</p>
<p>by _________________________ (name of signatory).</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print ______________________</p>
<p>Title _______________________</p>
<p>My commission expires: _______________</p>
<p>Acting in the County of ________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
