<p align="center"><strong>MISSOURI NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF MISSOURI</p>
<p>COUNTY AND OR CITY OF _______________________</p>
<p align="right">On this _____ day of ______ in the year 20___, before me, a Notary Public in and for said state, personally appeared _____________________(name of individual), known to me to be the person who executed the within ___________________ (type of document), and acknowledged to me that he/she executed the same for the purposes therein stated.</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p align="right">Print __________________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
