<p><strong>MONTANA NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF MONTANA</p>
<p>COUNTY OF _______________________</p>
<p>This record was acknowledged before me on ______________________ (date) by _________________________________________ (name(s) of individual(s)).</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print __________________________</p>
<p>Title __________________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
