<p align="center"><strong>NEBRASKA NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF NEBRASKA</p>
<p>COUNTY OF _______________________</p>
<p align="right">The foregoing instrument was acknowledged before me this _____ day of ________ in the year 20___, by _____________________, (name of person acknowledging).</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print __________________________</p>
<p>Title __________________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
