<p><strong>NEW YORK STATE NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF NEW YORK</p>
<p>COUNTY OF _______________________</p>
<p>On the ____ day of _____ in the year_____ before me, the undersigned, personally appeared ________________________ personally known to me or proved to me on the basis of satisfactory evidence to be the individual(s) whose name(s) is (are) subscribed to the within instrument and acknowledged to me that he/she/they executed the same in his/her/their capacity(ies), and that by his/her/their signature(s) on the instrument, the individual(s), or the person upon behalf of which the individual(s) acted, executed the instrument.</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print __________________________</p>
<p>Title or Office: ___________________</p>
<p>My commission expires: __________________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
