<p><strong>NORTH CAROLINA NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF NORTH CAROLINA</p>
<p>COUNTY OF _______________________</p>
<p>I, _________________________, Notary Public, do hereby certify that _________________________ (name of individual(s) whose acknowledgment is being taken) personally appeared before me this day and acknowledged the due execution of the foregoing instrument. Witness my hand and official seal this ______day of ______, 20___.</p>
<p><a href="https://esign.com/">____________________________________</a></p>
<p>Notary Public Signature</p>
<p>Print __________________________</p>
<p>My commission expires: __________________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
