<p align="center"><strong>NORTH DAKOTA NOTARY ACKNOWLEDGMENT</strong></p>
<p>THE STATE OF NORTH DAKOTA</p>
<p>COUNTY OF _______________________</p>
<p align="right">On this ____ day of _________, in the year ______ before me personally appeared ___________________________ known to me (or proved to me on the oath of __________________________) to be the person who is described in and who executed the within instrument, and acknowledged to me that that he/she/they executed the same.</p>
<p align="right"><a href="https://esign.com/">____________________________________</a></p>
<p align="right">Notary Public Signature</p>
<p>Print _____________________________</p>
<p>Title or Office: ____________________</p>
<p>My commission expires: __________________________</p>
<blockquote>
<p>(Seal)</p>
</blockquote>
