<p align="center"><strong>OREGON NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of _________________</p>
<p>County of _________________</p>
<p>This record was acknowledged before me on (date) ___________</p>
<p>by (name(s) of individual(s)) ____________________________.  </p>
<p><a href="https://esign.com/">______________________</a></p>
<p>Signature of Notarial Officer</p>
<p>______________________</p>
<p>Title of Office</p>
<p>My commission expires: __________________</p>
<p>Stamp</p>
<p><span class="underline">Document Description</span></p>
<p>This certificate is attached to page ____ of a ________________________ (title</p>
<p>or type of document), dated _____________, consisting of _______</p>
<p>pages.</p>
