<p><strong>PENNSYLVANIA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of _________________</p>
<p>County of _________________</p>
<p>On this, the _____ day of _______, 20____, before me ______________, the</p>
<p>undersigned officer, personally appeared ___________, known to me (or</p>
<p>satisfactorily proven) to be the person(s) whose name(s) is/are subscribed to the</p>
<p>within instrument, and acknowledged that __________ executed the same for</p>
<p>the purposes therein contained.</p>
<p>In witness whereof, I hereunto set my hand and official seals.</p>
<p>(Stamp)</p>
<blockquote>
<p><a href="https://esign.com/">______________________</a></p>
<p>Signature</p>
<p>______________________</p>
<p>Title of Officer</p>
</blockquote>
