<p align="center"><strong>RHODE ISLAND NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of _________________</p>
<p>County of _________________</p>
<p>On this ____ day of ___________, 20__, before me, the undersigned notary</p>
<p>public, personally appeared ________________________ (name of document</p>
<p>signer), personally known to the notary or proved to the notary through</p>
<p>satisfactory evidence of identification, which was _______________________, to</p>
<p>be the person whose name is signed on the preceding or attached document,</p>
<p>and acknowledged to the notary that (he) (she) signed it voluntarily for its stated</p>
<p>purpose.</p>
<p>(as partner for ____________, a partnership)</p>
<p>(as ____________ for ______________, a corporation)</p>
<p>(as attorney in fact for ________________, the principal)</p>
<p>(as ___________ for _______________, (a) (the) _________________)</p>
<p><a href="https://esign.com/">______________________</a></p>
<p>Seal</p>
<p>Official Signature of Notary</p>
