<p align="center"><strong>SOUTH DAKOTA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of South Dakota</p>
<p>County of _________________</p>
<p>On this ____ day of _________, 20______, before me, ___________, the</p>
<p>undersigned officer, personally appeared ________________ known to me or</p>
<p>satisfactorily proven to be the person whose name(s) is/are subscribed to the</p>
<p>within instrument and acknowledged that he/she/they executed the same for the</p>
<p>purposes therein contained.</p>
<p>In witness whereof I hereunto set my hand and official seal.</p>
<p><a href="https://esign.com/">________________________</a> (Seal)</p>
<p align="right">Signature</p>
<p>Title of Officer: ______________________</p>
<p>My Commission Expires: ______________</p>
