<p align="center"><strong>SOUTH CAROLINA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of __________________</p>
<p>County of _________________</p>
<p>The foregoing instrument was acknowledged before me this _______ (date)</p>
<p>by _________ (name of person acknowledged).</p>
<p align="right"><a href="https://esign.com/">_____________________________________</a></p>
<p>Signature of Person Taking Acknowledgement</p>
<p>Title or Rank: _________________</p>
<p>Serial Number (if any): __________</p>
<p>(Seal)</p>
