<p align="center"><strong>TEXAS NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Texas</p>
<p>County of _________________</p>
<p>Before me, ___________ (insert the name and character of the officer), on this</p>
<p>day personally appeared ___________, known to me (or proved to me on the</p>
<p>oath of ______________ or through _____________ (description of identity card</p>
<p>or other document) to be the person whose name is subscribed to the foregoing</p>
<p>instrument and acknowledged to me that he executed the same for the purposes</p>
<p>and consideration therein expressed.</p>
<p>Given under my hand and seal of office this ______ day of ________, 20___.</p>
<p align="right"><a href="https://esign.com/">__________________________________________</a></p>
<p>Notary Public Signature</p>
<p>(Seal)</p>
