<p align="center"><strong>VERMONT NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Vermont</p>
<p>County of _________________</p>
<p>On this _____ day of ________, 20____, before me personally appeared</p>
<p>_______________________ (name of person acknowledging) to me known to</p>
<p>be the person who executed the foregoing instrument, and he (she) thereupon</p>
<p>duly acknowledged to me that he (she) executed the same to be his (her) free act</p>
<p>and deed.</p>
<blockquote>
<p><a href="https://esign.com/">______________________</a></p>
</blockquote>
<p>Notary Public Signature</p>
