<p align="center"><strong>WASHINGTON NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of Washington</p>
<p>County of _________________</p>
<p>I certify that I know or have satisfactory evidence that ___________ (name of</p>
<p>person) is the person who appeared before me, and said person acknowledged</p>
<p>that (he/she) signed this instrument and acknowledged it to be (his/her) free and</p>
<p>voluntary act for the uses and purposes mentioned in the instrument.</p>
<p>Dated: ___________</p>
<p>(Seal or Stamp)</p>
<blockquote>
<p><a href="https://esign.com/">______________________</a></p>
</blockquote>
<p>Signature</p>
<blockquote>
<p>______________________</p>
<p>Title</p>
</blockquote>
<p>My Appointment Expires: _____________</p>
