<p align="center"><strong>WEST VIRGINIA NOTARY ACKNOWLEDGMENT</strong></p>
<p>State of West Virginia</p>
<p>County of _________________</p>
<p>This record was acknowledged before me on ________(date) by</p>
<p>____________________ (name(s) of individual(s)).</p>
<p>(Seal)</p>
<blockquote>
<p><a href="https://esign.com/">______________________</a></p>
</blockquote>
<p>Signature of Notarial Officer</p>
<blockquote>
<p>______________________</p>
<p>Title of Office</p>
</blockquote>
<p>My Commission Expires: ______________</p>
